 .blogone {

     width: 50%;
     margin: 200px auto;
     /* text-align: left; */

 }

 .blog-img-left {

     width: 25%;
     float: left;
     margin-right: 40px;
 }

 .blog-img-right {
     width: 25%;
     float: right;
     margin-left: 40px;

 }



 /********************************************************************************
LAYOUT TWO
*********************************************************************************/






 /********************************************************************************
LAYOUT TWO ENDS
*********************************************************************************/