body {
    
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  background-color: rgb(218, 203, 95);
 
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(85, 32, 93);
}

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900*/

/* .figtree-uniquifier {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */


/************************************************** 
NAV BAR 
*************************************************/

a{
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: transparent;
  font-size: 20px;
  margin: 0;
}

.main-logo {
  height: 60px;
}

.logo{
  margin-left: 5%;
  color: rgb(85, 32, 93);
  font-size: 30px;
  width: 300px;
  font-weight: bold;
  padding-top: 2%;
  }

  .logo_header{
  display: flex;
  margin-left: 2%;
 width: 300px;
}

.main_nav{
  display: flex;
  width: 30%;
  float: right;
  margin-right: 2%;
  justify-content: space-around;
  list-style: none;
}
/* .main_nav li:hover{
  background-color: gray
} */

.main_nav li{
  display: inline;
  color: #ffffff;
  line-height: 5px;
}
.main_nav li a{
  color: rgb(85, 32, 93);
  font-size: 0.9em;
 
}

.navbar_toggle {
  display: none;
}

#cart {
  color: black;
}

#search {
  color: black;
}
  
.something {
  height: 40px;
  background-color: rgb(85, 32, 93);
  color: white;
  margin-top: 5px;
}
  
  
  /************************************************** 
                      NAV BAR END
  *************************************************/

  .border {
    width: 80%;
    margin: 0 auto;
  }

  /*************************************************************
                        SECTION ONE 
   ***********************************************************/

   .section-one {
    /* width: 85%; */
    /* margin-top: 100px; */
    margin-bottom: 200px;
    float: right;
    
    /* background-color: rgba(137, 138, 123, 0.7); */
}

.section-one-heading {
    font-size: 4rem;
    margin-top: 200px;
}



 .section-one-img {
  display: block;
    width: 50%;
    /* height: 800px; */
    float: right;
    
 }  
  
 .section-one-text-box {
    width: 50%;
    float: left;
    
 }

 .section-one-para {
   margin-right: 20%;
  /* margin-left: 7%;  */
  line-height: 30px;
 }



.section-one-heading {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: italic;
  
  
}

/* .section-one-heading { */
    /* font-family: 'Roboto', sans-serif; */
    /* text-align: center;
    color: black;
    margin-top: 50px;
    font-size: 1.2rem;
} */








/***************************************************
 SECTION TWO 
 ***************************************************/




.the-standup {
  
 /* padding-top: 10px; */
  margin: 0 auto;
  /* color: black; */
  margin-bottom: 200px;
 }


.section-two-heading {
  font-size: 2.8rem;
  display: block;
    color: black;
    margin-top: 90px;
    color: rgb(85, 32, 93);
}

.section-two-intro {
  color: rgb(85, 32, 93);
 font-size: 1rem;
}

.lines {
  display: flex;
  justify-content: space-between;
}

.ramblings {
  display: block;
  color: black;
  text-decoration: none;
  color: rgb(85, 32, 93);
  font-size: 1.2rem;
}

time {
  color: rgb(85, 32, 93);
  font-size: 1.2rem;
}

.section-two-hr {
  border: 1px solid rgb(85, 32, 93);
  
}



/*************************************************************** 
START OF NEW BLOG POST HOME PAGE
 **************************************************************/



 .wrapper {
    /* margin-top: 10%; */

  }

  .start-here-heading {
    font-size: 2.8rem;
    
  }

   /* .start-title-wrapper {
    font-size: 2.8rem;
    width: 90%;
    margin-top: 100px;
    margin: 0 auto;
   } */

   .posts {
     display: flex;
     text-align: center;
    
     justify-content: center;
     flex-wrap: wrap;
     /* margin-top: 250px; */
   }

    .post {
      margin: 5px;
      margin-bottom: 80px;
      width: 350px;
    
      padding: 20px;
      line-height: 20px;
      color: black;
      position: relative;
     }
      
    /* .post h3 {
      font-size: 20px;
      margin-top: 50px;
      color: rgb(85, 32, 93);
    } */

     .role {
       font-size: 15px;
       text-transform: uppercase;
       margin: 12px 0;
       color: rgb(85, 32, 93);
     }

     .post_img {
       height: 350Px;
       width: 350px;
       
       margin: 0 auto;
       }

     .post_img img {
       width: 350px;
       height: 350px;
      
       margin: 0 auto;
       }

       .blog-title {
        color: rgb(85, 32, 93);
       }

     .blog-description {
      color: rgb(85, 32, 93);
     }

     .more-button {
      display: block;
      margin: 0 auto;
      background-color: rgb(85, 32, 93);
      color: white;
      height: 50px;
      width: 150px;
      border: none;
      border-radius: 7px;
     }
  

     .intro {
        margin-right: 20%;
        margin-left: 20%;
        
      } 

      /* Reset any default margins and paddings */



 /**************************************************************** 
             END OF NEW BLOG POST HOME PAGE
 ****************************************************************/



/*************************************************************** 
                ABOUT SECTION
***************************************************************/

.section-three {
    
    margin-top: 100px;
    margin-bottom: 100px;
    float: right;
    /* background-color: rgba(137, 138, 123, 0.7); */
}

.section-three-container {
  margin-top: 200px;
}

.section-three-heading {
  margin-left: 20%;
    font-size: 3rem;
    color: rgb(85, 32, 93);
   
    /* margin-top: 200px; */
}

.section-three-img {
    width: 50%;
    float: left;
    }  
  
 .section-three-text-box {
    width: 50%;
    float: right;
   }

 .section-three-para {
  margin-right: 7%;
  /* margin-left: 7%; */
  line-height: 25px;
  margin-left: 20%;
 }


 /***********************************************
                   STANDUP TEMPLATE
  ***********************************************/

.standup-border {
  width: 60%;
  margin: 50px auto 10px;
}

.standup-heading {
 
  display: flex;
  justify-content: space-between;
}

.standup-post-title {
 
  margin: 0;
margin-bottom: 0;
font-size: 2rem;
}

.standup-post-date {
  /* display: block; */
  font-size: 1.5rem;
}

.update {
  font-size: 13px;
  margin-right: 5px;
}

.standup-hr {
  border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(85, 32, 93, 1), rgb(157, 51, 173) ,rgb(202, 43, 226));
}

.about-the-post {
  margin: 90px 20px 40px;
}

.list-title {
  margin-left: 20px;
 
  font-size: 1.2rem;
}

.general-list {
/* padding-top: 10px; */
padding-bottom: 20px;
}

.text-one, .text-two, .text-three, .text-four, .text-five, .text-six, .text-seven, .text-eight, .text-nine, .text-ten {
  margin: 30px 10px;

}

/************************************************* 
                 BLOG POST TEMPLATE
**************************************************/

.blog-post-border {
  width: 50%;
  margin: 50px auto 10px;
}

.blog-post-heading {
  text-align: center;
  margin-top: 150px;
  font-size: 55px;
}

.blog-posts {
  display: flex;
     text-align: center;
    margin-top: 170px;
     justify-content: center;
     flex-wrap: wrap;
     /* margin-top: 250px; */
   }



.blog-post-img {
  display: block;
  height: 500px;
  width: 700px;
  margin: 100px auto;
}

.blog-post-text-area {
  margin: 5px auto;
}


/************************************************** 
            PROJECTS PAGE
***************************************************/

.projects-wrapper {
  /* margin-top: 10%; */

}

.projects-heading {
  text-align: center;
 margin-top: 150px;
font-size: 55px;

}
 /* .projects-wrapper h1 {
   margin-bottom: 60px;
   text-align: center;
 } */

 .projects-posts {
   display: flex;
   text-align: center;
   /* width: auto; */
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 170px;
 }

  .projects-post {
    margin: 5px;
    margin-bottom: 80px;
    width: 600px;
    padding: 20px;
    line-height: 20px;
    color: black;
    position: relative;
   }
    
  .projects-post h3 {
    font-size: 20px;
    margin-top: 50px;
    color: rgb(85, 32, 93);
  }

   .projects-role {
     font-size: 15px;
     text-transform: uppercase;
     margin: 12px 0;
     color: rgb(85, 32, 93);
   }

   .projects-post_img {
     /* height: 350Px;
     width: 350px; */
     /* align-items: center; */
     /* margin: 0 auto; */

     }

   .projects-post_img img {
     /* width: 350px;
     height: 350px; */
     /* padding: 23px; */
     /* margin: 0 auto; */
     object-fit: contain;
    max-width: 100%;
    max-height: 100%;
     }

   .projects-blog-description {
    color: rgb(85, 32, 93);
   }

   /* .more-button {
    display: block;
    margin: 0 auto;
    background-color: rgb(85, 32, 93);
    color: white;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 7px;
   } */


   .projects-intro {
      margin-right: 20%;
      margin-left: 20%;
      
    }

/*************************************************
   RESOURCES SECTION, COPIED FROM STANDUP TEMPLATE.
 **************************************************/

 

  .resources-border {
    width: 60%;
    margin: 50px auto 10px;
  }
  
  .resources-heading {
   
    display: flex;
    justify-content: space-between;
  }
  
  .resources-post-title {
   
    margin: 0;
  margin-bottom: 0;
  font-size: 2rem;
  }
  
  .resources-post-date {
    /* display: block; */
    font-size: 1.5rem;
  }
  
  .resources-update {
    font-size: 13px;
    margin-right: 5px;
  }
  
  .resources-hr {
    border: 0;
      height: 5px;
      background-image: linear-gradient(to right, rgba(85, 32, 93, 1), rgb(157, 51, 173) ,rgb(202, 43, 226));
  }
  
  .resources-about-the-post {
    margin: 90px 20px 40px;
  }
  
  .resources-list-title {
    margin-left: 20px;
   
    font-size: 1.2rem;
  }
  
  .resources-general-list {
  /* padding-top: 10px; */
  padding-bottom: 20px;
  }
  
  .text-one, .text-two, .text-three, .text-four, .text-five, .text-six, .text-seven, .text-eight, .text-nine, .text-ten {
    margin: 30px 10px;
  
  }

  /*************************************************
                  RESOURCES END
 **************************************************/


/*************************************************
              FOOTER SECTION 
 **************************************************/

 footer {
    clear: both;
    height: 150px;
    width: 100%; 
    text-align: center;
   }

i {
  color: rgb(85, 32, 93);
}



.footer-section {
  padding-top: 60px; /* Adjust the top padding to move the content down */
}

.icons8-link {
  color: rgb(85, 32, 93);
  padding-bottom: 0;
}



/* NAV MEDIA Q */
@media only screen and (max-width : 992px){

    .navbar{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100vw;
      padding-top: 2%;
      padding-bottom: 2%;
      background-color: transparent;
      font-size: 20px;
    }
  
    .main_nav{
      display: none;
    }
  
    .show_nav{
      padding-top: 2%;
      display: flex;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .main_nav li{
      width: 100%;
      height: 50px;
      font-size: 25px;
      justify-content: center;
      text-align: center;
      padding: 0%;
    }
    .navbar_toggle {
      margin-left: 5%;
      margin-right: 5%;
      font-size: 30px;
      color: black;
      background: transparent;
      border-color: transparent;
      transition: all 0.3s linear;
      cursor: pointer;
      display: block;
    }
  
    
    .logo_header{
      width: 100%;
      justify-content: space-between;
      margin-right: 2%;
    }

}